<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consultas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>

    <div class="container mt-5"> 
      <h2>Agendar Consulta</h2>
      
      <form action="" method="POST">
        
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Nome do Médico</label>
            <input type="text" name="nome_medico" class="form-control" placeholder="Ex: Dr. Matheus" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Data e Hora</label>
            <input type="datetime-local" name="data" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Especialidade</label>
            <input type="text" name="especialidade" class="form-control" placeholder="Ex: cardiologista" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Localização</label>
            <input type="text" name="localizacao" class="form-control" placeholder="Ex: Medclub centro" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar Consulta</button>

      </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>